[Unit]
Description=GBTNetwork L1 Node
After=network.target

[Service]
User=gbt
Group=gbt
Type=simple
WorkingDirectory=/var/lib/gbtnetwork
ExecStart=/usr/bin/geth \
  --networkid 999 \
  --http \
  --http.addr 0.0.0.0 \
  --http.port 9636 \
  --http.api eth,net,web3,txpool \
  --http.vhosts localhost,GBTNetwork \
  --nodiscover \
  --syncmode full \
  --datadir /var/lib/gbtnetwork/data
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
